<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title>Daily Entry</title>
    <link rel="stylesheet" href="css/entryStyle.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <img src="images/leaf.svg" />
        <h1>Calendar</h1>
        <img src="images/leaf.svg" />
      </div>

      <div class="subheader">
        <button type="button" id="prevPage"><</button>
        <h2>Froggy on 01/23/21</h2>
      </div>

      <div id="photoHeader">
        <h3>Your photos for 01/23/21</h3>
        <button type="button" id="addPhoto">+</button>
      </div>

      <div id="photos">
        <div class="slide">
          <img src="images/froggy.svg" />
          <p>9:30 AM</p>
        </div>
        <div class="slide">
          <img src="images/emily.svg" />
          <p>11:30 AM</p>
        </div>
        <div class="slide">
          <img src="images/bert.svg" />
          <p>3:30 PM</p>
        </div>
        <div class="slide">
          <img src="images/froggy.svg" />
          <p>6:30 PM</p>
        </div>
        <div class="slide">
          <img src="images/emily.svg" />
          <p>8:30 PM</p>
        </div>
        <div class="slide">
          <img src="images/bert.svg" />
          <p>10:30 PM</p>
        </div>
      </div>

      <h3>Plant Condition</h3>
      <div class="moods">
        <div class="face">
          <img src="images/bad-face.svg" />
        </div>
        <div class="face selected">
          <img src="images/normal-face.svg" />
        </div>
        <div class="face">
          <img src="images/good-face.svg" />
        </div>
      </div>

      <h3>Notes</h3>
      <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <button type="button" id="editing">Edit</button>

      <div class="footer">
        <div class="footer-item">
          <a id='home-button' href="/">
              <img src="images/home-button.svg">
          </a>
        </div>

        <div class="footer-item">
          <a href="/calendar">
          <img id='calendar-button' src="images/calendar-button.svg">
          </a>
        </div>
      </div>
  </div>

  <!--
  <script src="js/entry.js"></script>
  -->
  <script type="app.js"></script>
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>