<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<div class="page-container">

		<div class="plant-parenthood" href='#'>
			<img src="../public/images/plant-parenthood.svg">
		</div>

			<div class="leaf" href='#'>
				<img src="../public/images/leaf.svg">
			</div>

			<div class='home-photo' href='#'>
				<img src="../public/images/home-photo.svg">
		</div>

		<a class='my-plants-button' href='my-plants-page.html'>
			<img src="../public/images/my-plants-button.svg">	
		</a>
		<br>
		<a class='add-plants-button' href='search.html'>
			<img src='../public/images/add-plants-button.svg'>
		</a>

	</div>



<script type="app.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>